<app-header></app-header>
<div class="main-content">
    <div class="container-fluid">
        <h2>ADMIN PAGE</h2>
        <p-tabView>
            <p-tabPanel header="Profile">
                <app-profile-admin></app-profile-admin>
            </p-tabPanel>
            <p-tabPanel header="User Management">
                <app-user-management></app-user-management>
            </p-tabPanel>
            <p-tabPanel header="Movie Management">
                <app-movie-management></app-movie-management>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
