<div>
  <form (ngSubmit)="profileForm.valid && onUpdateProfile()" class="login100-form validate-form p-l-55 p-r-55 p-t-140" #profileForm="ngForm">
      <div class="form-group">
        <div>
          <label class="m-4">Admin name: </label>
          <input pInputText  type="text" name="name" id="name" required
          [(ngModel)]="user.name" #name="ngModel">
          <span class="focus-input100"></span>
        </div>
      </div>
      <div class="container-login100-form-btn p-b-20">
        <button pButton type="submit" label="Save" icon="pi pi-save"></button>
      </div>
    </form>
</div>